FINAL_OUTPUT_PROVIDER=openai                              #gemini or openai
DEEPSEEK_API_KEY=your_key                                                                
SUPERMEMORY_API_KEY=your_key                                                             
APIFY_TOKEN=your_token 
GOOGLE_APPLICATION_CREDENTIALS=./gemini_cred.json